kafka:
  brokers: ["redpanda-0:9092"]
  schemaRegistry:
    enabled: true
    urls: ["http://redpanda-0:8081"]
redpanda:
  adminApi:
    enabled: true
    urls: ["http://redpanda-0:9644"]
connect:
  enabled: true
  clusters:
    - name: kafka-connect-postgresql
      url: http://kafka-connect:8083